<!DOCTYPE html>
<html>
<head>
    <title>Jeopardy Question Game</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Jeopardy Question Game</h1>
    <form id="jeopardyForm" method="POST" action="{{ url_for('check_answer') }}">
        {% if question %}
        <p><strong>Category:</strong> {{ question.category.title.upper() }}</p>
        <p><strong>Value:</strong> {{ question.value }}</p>
        <p><strong>Question:</strong> {{ question.question }}</p>
        <div class="answer">
            <label for="answer"><strong>Your Answer: </strong></label>
            <input type="text" name="answer" id="answer" value="{{ user_answer }}" required>
        </div>
        <input type="hidden" name="correct_answer" id="correct_answer" value="{{ question.answer.upper() }}">

        <div class="button-group">
            <button type="button" id="submitBtn">Submit Answer</button>
            <button type="button" id="newQuestionButton" onclick="getNewQuestion()">New Question</button>
            <button type="button" onclick="showAnswer()">Show Answer</button>
        </div>
        {% endif %}
    </form>
    <p id="resultMessage"></p>
    <p id="answerDisplay" style="display: none;"><strong>Correct Answer:</strong> {{ question.answer.upper() }}</p>
    <script>
        function getNewQuestion() {
            window.location.href = "/";
        }

        function showAnswer() {
            var answerDisplay = document.getElementById("answerDisplay");
            answerDisplay.style.display = "block";
        }

         document.addEventListener('DOMContentLoaded', function() {
                    var submitBtn = document.getElementById('submitBtn');
                    var resultMessage = document.getElementById('resultMessage');
                    var answerInput = document.getElementById('answer');
                    var correctAnswer = document.getElementById('correct_answer').value;

                    submitBtn.addEventListener('click', function(event) {
                        event.preventDefault(); // Prevent the default button click behavior

                        var data = {
                            answer: encodeURIComponent(answerInput.value),
                            correct_answer: encodeURIComponent(correctAnswer)
                        };

                        // Make an AJAX POST request to the backend
                        fetch('{{ url_for("check_answer") }}', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json',
                            },
                            body: JSON.stringify(data),
                        })
                        .then(response => response.json())
                        .then(data => {
                            // Handle the response from the backend
                            resultMessage.textContent = data.result;
                        })
                        .catch(error => {
                            console.error('Error:', error);
                        });
                    });
                });
    </script>

</body>
</html>